@model IEnumerable<CarWorkshop.Models.Ticket>

@{
    ViewData["Title"] = "Ticket Management";
}

<h1>Available Tickets</h1>

<table class="table">

    <head>
        <style>
            /* Prevents text in <th> elements from wrapping onto multiple lines */
            th {
                white-space: nowrap;
            }

            td {
                white-space: nowrap;
            }
        </style>
    </head>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Assigned Employee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimateDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedCost)
                </td>
                <td>
                    @if (item.EstimateAccepted ?? false)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>
                    @if (item.PricePaid == 0)
                    {
                        <text>-</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.PricePaid)
                    }
                </td>
                <td>
                    @if (item.State == "Created")
                    {
                        <form asp-action="AcceptTicket" method="post">
                            <input type="hidden" name="id" value="@item.TicketId" />
                            <button type="submit" class="btn btn-secondary">Accept Ticket</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
