@model IEnumerable<CarWorkshop.Models.Ticket>

@{
    ViewData["Title"] = "Ticket Management";
}

<h1>Ticket Management</h1>

    <a asp-action="Create" class="btn btn-primary mb-3">Add Ticket</a>
<table class="table">

    <head>
        <style>
            /* Prevents text in <th> elements from wrapping onto multiple lines */
            th {
                white-space: nowrap;
            }

            td {
                white-space: nowrap;
            }
        </style>
    </head>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Assigned Employee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimateDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedCost)
                </td>
                <td>
                    @if (item.EstimateAccepted ?? false)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>
                    @if (item.PricePaid == 0)
                    {
                        <text>-</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.PricePaid)
                    }
                </td>
                <td>
                    <a asp-action="Parts" asp-route-id="@item.TicketId" class="btn btn-secondary">Parts</a>
                    <a asp-action="Edit" asp-route-id="@item.TicketId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.TicketId" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.TicketId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
